        #timeline {
            width: 920px;

        }

       .tabs{
            padding: 0px;
            margin: 0 auto;
            background: url("https://i.imgur.com/vPJOjdA.jpg") ;
            background-repeat: no-repeat;
        }

        .regions {
            width: 920px;
            margin: 10px;

            margin-top: 9px;
            position: absolute;
            margin-left: 0px;
        }

        .tabs>section {
            display: none;
            height: 355px;
            overflow-y: auto;
            margin-right: -19px;
            font-family: sans-serif;
            font-size: 12px;
            }

        .tabs>section>table {
            margin: 0 0 5px;
            line-height: 1.5;
            color: red;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            -webkit-animation-name: fadeIn;
            animation-name: fadeIn;


        }


        @keyframes fadeIn {
            from {
                opacity: 0;
                transition: opacity .55s ease-in-out;
            }

            to {
                opacity: 1;
            }



        }

        .tabl{
            display: inline-block;
            height: 360px;
        }


        .podtabl {
            display: inline-block;
            width: 260px;
            height: 165px;
            overflow-y: auto;
            margin-right: 25px;
            margin-bottom: 15px;
            background: url(https://i.imgur.com/GQe2IOY.jpeg);
            background-repeat: no-repeat;
        }

        .podtabl p{
            padding: 6px 9px 17px 17px ;
            margin: 0px;
            font-family: monospace;
        }

        .title{
            height: 52px;
            text-align: center;
            text-transform: uppercase;
        }

        .title p{
            padding-top: 15px;
            margin: 0px;
        }

        .tabs>input {
            display: none;
            position: absolute;
        }


/*основные разделы*/


        .tabs>label:first-of-type {
            box-shadow: none
        }

        .tabs>label {
            display: block;
            width: 245px;
            height: 54px;
            margin: 15px 20px 15px 25px;
            background: url("https://i.imgur.com/fLiur01.jpg");
            background-repeat: no-repeat;

                  }

        .tabs>label p{
            padding: 15px;
            margin: 0px;
        }

        p.podps{

            font-size: 12px;

        }


        .tabs>label:after {
            position: absolute;
            display: block;
                   }


        .tabs>label:hover:after {
            background: blue;
            font-weight: bold;
        }

        .tabs>label:hover {
            font-stretch: expanded;
            letter-spacing: 1.7px;
            cursor: pointer;
            transition: all .3s cubic-bezier(0.20, 0.1, 0.20, 1) 0s
        }

/*цвета выделения таблицы*/

        .tabs>input:checked+label {
            background: url("https://i.imgur.com/9KmdEZp.jpg");
            background-repeat: no-repeat;
        }


        #tab1:checked~#content-tab1,
        #tab2:checked~#content-tab2,
        #tab3:checked~#content-tab3,
        #tab4:checked~#content-tab4,
        #tab5:checked~#content-tab5,
        #tab6:checked~#content-tab6,
        #tab7:checked~#content-tab7,
        #tab8:checked~#content-tab8 {
            display: inline-block;
            margin-top: -275px;
            margin-left: 321px;
            width: 589px;
            margin-bottom: 20px;
        }

   
        tr>td {

            padding-bottom: 1em;
        }

        table {

            font-family: sans-serif !important;
            font-size: 11px;
            text-align: justify;
        }

        table p {

            padding-right: 12px;
            float: left;
        }


        a {
            font-family: sans-serif;
            font-weight: bold;
            font-size: 13;
            text-transform: uppercase;
            color: #455c44;
        }

    ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    }
    ::-webkit-scrollbar-thumb {
    background-color: #c3d3e0;
    }

    ::-webkit-scrollbar-track {
    background-color: #e4e1df;
    }

        .podtabl img{

            margin-left: 15px;
            margin-right: 17px;
            margin-top: 5px;
            width: 80px;
            height: 90px;
            border: solid 2px;
            border-color: #b6c1c7;
            float: left;
        }

        .names{
            height: 42px;
            background: url(https://i.imgur.com/0wGgjq3.jpeg);
            background-repeat: no-repeat;
            text-align: center;
            padding: 0px;
            margin: 0px;    
        }

        .names p{
            padding-top: 6px;
            font-family: monospace;
            font-size: 16px;
        }